*.aps
!cmake/**
AppConfig.h
*.orig
cmake-build-debug
cmake-build-autotestsdebug
cmake-build-release
.idea
.DS_Store
**/main/assets/
CMakeLists.txt.user
.vscode
build/
web_build/
*.o
.vs
installer/windows/IQMSIActions/CustomMSIActions\.dll
installer/windows/IQMSIActions/CustomMSIActions\.pdb
installer/windows/IQMSIActions/obj/x86
*.pdb
/content/web_res/initjs/node_modules/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
